<h2>Hello {{firstName}}</h2>

<!-- <input type="text" (ngModel)="firstName" placeholder="type a name">
<button (click)="showName()">Press me</button> -->

<!-- <p> Score count: {{5 + 5}} </p> -->

<!-- <p> {{ new  Date() }} </p> -->

<!-- <p> {{ convertToDate() }} </p> -->

<!-- <p> {{beverageInput.value}} </p>
<select #beverageInput>
  <option value="milo">Milo</option>
  <option value="coke">Coke</option>
  <option value="fanta">Fanta</option>
</select> -->

<!-- <p> {{selectedValue}} </p>

<select [(ngModel)]="selectedValue">
  <option value="milo">Milo</option>
  <option value="coke">Coke</option>
  <option value="fanta">Fanta</option>
</select> -->

<!-- <img [alt]="animal.name" [src]="animal.image" /> -->

<!-- <img bind-alt="animal.name" bind-src="animal.image" /> -->

<!-- <p [innerHTML]="htmlContent"></p> -->

<!-- <p [innerHTML]="scriptContent"></p> -->

<!-- <h1 [style.color]="theme.color" [style.font-size]="theme.fontSize" [style.opacity]="theme.opacity">It's valentines </h1> -->

<!-- <h1 [ngStyle]="theme">It's valentines </h1> -->

<!-- <input type="text" [(ngModel)]="expression" placeholder="type a name">
<p>Result {{result}}</p>
<button (click)="calculate()">Press me</button> -->
<router-outlet></router-outlet>
