<h2>Hello {{title}}</h2>

<!-- <input type="text" (ngModel)="firstName" placeholder="type a name">
<button (click)="showName()">Press me</button> -->

<!-- <p> Score count: {{5 + 5}} </p> -->

<!-- <p> {{ new  Date() }} </p> -->

<!-- <p> {{ convertToDate() }} </p> -->

<!-- <p> {{beverageInput.value}} </p>
<select #beverageInput>
  <option value="milo">Milo</option>
  <option value="coke">Coke</option>
  <option value="fanta">Fanta</option>
</select> -->

<!-- <p> {{selectedValue}} </p>

<select [(ngModel)]="selectedValue">
  <option value="milo">Milo</option>
  <option value="coke">Coke</option>
  <option value="fanta">Fanta</option>
</select> -->

<!-- <img [alt]="animal.name" [src]="animal.image" /> -->

<!-- <img bind-alt="animal.name" bind-src="animal.image" /> -->

<!-- <p [innerHTML]="htmlContent"></p> -->

<!-- <p [innerHTML]="scriptContent"></p> -->

<!-- <h1 [style.color]="theme.color" [style.font-size]="theme.fontSize" [style.opacity]="theme.opacity">It's valentines </h1> -->

<!-- <h1 [ngStyle]="theme">It's valentines </h1> -->

<!-- <input type="text" [(ngModel)]="expression" placeholder="type a name">
<p>Result {{result}}</p>
<button (click)="calculate()">Press me</button> -->



<!-- <ul>
  <li *ngFor="let lugar of lugares">{{lugar.nombre}}</li>
</ul> -->

<!-- <ul>
  <ng-container *ngFor="let persona of personas">
    <li *ngIf="persona.edad >= 18">{{persona.nombre}}</li>
  </ng-container>
</ul> -->

<!-- <ng-container *ngFor="let persona of personas; odd as esPar" [ngSwitch]="persona.porte">
  <li [ngStyle]="{color : (persona.edad>=18)? 'blue': 'red'}">
    {{persona.nombre}}-{{persona.edad}} años -
    <span *ngSwitchCase="'alto'" [ngStyle]="{color: 'green'}">alto({{persona.estatura}} mts)</span>
    <span *ngSwitchCase="'mediano'" [ngStyle]="{color: 'black'}">mediano({{persona.estatura}} mts)</span>
    <span *ngSwitchCase="'pequeño'" [ngStyle]="{color: 'orange'}">pequeño({{persona.estatura}} mts)</span>
  </li>
</ng-container> -->

<!-- <ng-container *ngFor="let lugar of sitios; let i = index" [ngSwitch]="lugar.cercania">
  <a contar-clicks>
    <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}"
      [appUcbHighlight]="lugar.plan">
      {{lugar.nombre}} -
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
    </li>
  </a>
</ng-container> -->

<router-outlet></router-outlet>
